
<h2>User Form</h2>
<form method="post">
	<p>
		<label>User Name:</label><br />
		<input type="text" name="username" />
	</p>
	<p>
		<label>Password:</label><br />
		<input type="password" name="password" />
	</p>
	<p>
		<label>Age:</label><br />
		<input type="number" name="age" />
	</p>
	<p>
		<label>Info:</label><br />
		<textarea name="info"></textarea>
	</p>
	<p>
		<input type="submit" value="Send" />
	</p>
</form>

@using (Html.BeginForm("Form", "Home", FormMethod.Post))
{
	<p>
	<label>User Name</label><br />
	@Html.TextBox("username")
	</p>
	<p>
	<label>Password</label><br />
    @Html.TextBox("password", "", new { type="password" })
	</p>
	<p>
	<label>Age</label><br />
    @Html.TextBox("age", "", new { type="number" })
	</p>
	<p>
	<label>Info:</label><br />
	@Html.TextArea("info", "Строитель")
	</p>
	<p>
		<input type="submit" value="Отправить" />
	</p>
}